@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3f7869;
  --secondary-color: #f5c115;
  --neutral-color: #ffffff;
  --black: #000000;
  --danger: #dc3545;

  --rounded-sm: 5px;
  --rounded-md: 10px;
  --rounded-full: 9999px;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* reusables styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  text-decoration: none;
  border-radius: 5px;
  border: none;
}
.btn-ghost {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-ghost:hover {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--black);
}
.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color);
}
.btn-danger {
  border: 1px solid var(--danger);
  background-color: transparent;
  color: var(--danger);
}
.btn-danger:hover {
  background-color: #c82333;
  color: var(--neutral-color);
}
.btn-rounded-full {
  border-radius: var(--rounded-full);
}

html {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
}

body {
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 2px 3px 8px 2px #e5e5e5;
}
header a {
  font-size: 2rem;
}
.business-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.business-logo svg {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}
.business-logo h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
}
/* nav{
  display: flex;
  justify-self: flex-end;
} */

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  align-self: center;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 500;
  /* transition: color 0.3s ease, font-weight 0.5s ease-in-out; */
  transition: all 0.3s ease-in-out;
  padding: 5px;
}
nav ul li a:hover {
  color: var(--primary-color);
}
/* 
.pseudo-underline::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.pseudo-underline:hover::before {
  width: 100%;
} */

.pseudo-underline::before {
  content: "";
  width: 5px;
  height: 0;
  background-color: var(--primary-color);
  position: absolute;
  top: 10px;
  left: 0;
  right: 5px;
  transition: all 0.3s ease-in-out;
}
.pseudo-underline:hover::before {
  height: 100%;
}

.box-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: var(--rounded-sm);
  transition: all 0.3s ease-in-out;
}

.box-hover:hover {
  background-color: var(--secondary-color);
}
